/* Global styles */
/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background */


/* Header section */
*{
    
}
h1 {
    font-size: 3rem;
    color: #198754; 
}

p {
    font-size: 1.1rem;
    color: #6c757d; 
}

.btn-outline-success {
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 10px 30px;
}

/* Stats section */
h2 {
    font-size: 2.5rem;
    color: #198754; /* Green color for stats */
}

p {
    font-size: 1rem;
    color: #6c757d;
}

/* App store buttons */
img {
    max-width: 200px;
    margin: 10px auto;
}

/* About Us Section */
h3 {
    font-size: 2rem;
    color: #212529; 
}

p {
    font-size: 1rem;
    line-height: 1.6;
}



/* footer style */
/* Footer styles */
.footer {
    background-color: #e8f5e9; /* Light green */
    color: #333; /* Dark text */
    font-size: 0.9rem;
}

.footer h5 {
    font-size: 1.2rem;
    color: #198754; /* Bootstrap green */
}

.footer a {
    color: #333;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #198754;
}

.social-icons i {
    color: #333;
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color: #198754;
}

form input[type="email"] {
    border: 1px solid #ced4da;
    padding: 8px 12px;
}

form button {
    padding: 8px 15px;
}
